/* == GLOBAL == */

body {
    margin: 0 72px;
    background-color: rgb(64, 64, 64);
    /* rgb(192, 192, 192); */
    font-family: "Segoe UI", "MS Sans Serif", Tahoma, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 384%;
    font-weight: bold;
    text-decoration: underline;
    line-height: 1;
}

h2 {
    font-size: 48px;
    font-weight: bold;
}

h3 {
    font-size: 32px;
    font-weight: bold;
}

h4 {
    font-size: 24px;
    font-weight: bold;
}

h5 {
    font-size: 18px;
    font-weight: bold;
}

h6 {
    font-size: 15px;
    font-weight: bold;
}

p {
    font-size: 12px;
}

ul {
    font-size: 12px;
}

/* == INDEX.HTML == */

/* Intro text */

#intro-text {
    /* Border & Box */
    padding: 5px;
    border-top: 4px solid rgb(85, 85, 85);
    border-left: 4px solid rgb(85, 85, 85);
    border-bottom: 4px solid rgb(0, 0, 0);
    border-right: 4px solid rgb(0, 0, 0);

    background: rgb(0, 128, 128);
    background: radial-gradient(circle, rgb(64, 64, 64) 0%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 100%);

    position: top;

    /* Text */
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
}

/* Homepage category */

#hp-category ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

    left: 0;
    right: 0;

    border-top: 2px solid rgb(55, 106, 172);
    border-left: 2px solid rgb(55, 106, 172);
    border-bottom: 2px solid rgb(0, 35, 80);
    border-right: 2px solid rgb(0, 35, 80);

    background-color: rgb(0, 54, 126);
}

#hp-category ul li {
    float: left;

    border-top: 2px solid rgb(55, 106, 172);
    border-left: 2px solid rgb(55, 106, 172);
    border-bottom: 2px solid rgb(0, 35, 80);
    border-right: 2px solid rgb(0, 35, 80);

    background-color: rgb(0, 54, 126);
}

#hp-category ul li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 4px 24px;
    text-align: center;
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
}

#hp-category ul li a:hover {
    background-color: rgb(0, 35, 80);
}

#hp-category {
    font-size: 16px;
    font-weight: bold;
}

/* TABLE OF CONTENTS */

#info-text {
    text-align: center;

    margin: 24px 0;
    padding: 0 2.5%;

    background-color: rgb(255, 255, 255);

    border-color: rgb(128, 128, 128);
    border-style: outset;
}

#new-sights-tab {
    color: rgb(255, 255, 255);
    
    padding: 0px 10px;
    margin-top: 20px;
    margin-right: 70%;

    border-top: 3px solid rgb(128, 128, 128);
    border-left: 3px solid rgb(128, 128, 128);
    border-bottom: 3px solid rgb(32, 32, 32);
    border-right: 3px solid rgb(32, 32, 32);

    background-color: rgb(0, 128, 128);
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
}

/* Footer text */

#footer {
    /* Border & Box */
    padding: 2px;
    border-top: 2px solid rgb(85, 85, 85);
    border-left: 2px solid rgb(85, 85, 85);
    border-bottom: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
    background-color: rgb(50, 50, 50);

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    /* Text */
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
    line-height: 50%;
}

/* == ABOUT.HTML == */

#about-intro {
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0px rgb(0, 0, 0);

    border-style: outset;
    border-color: rgb(0, 96, 96);
    background-color: rgb(0, 128, 128);
}

#about-desc {
    margin: 36px 36px;
    color: rgb(0, 0, 0);
    border-style: outset;
    border-color: rgb(192, 192, 192);
    background-color: rgb(192, 192, 192);
}

#about-desc p {
    margin: 18px;
}

#about-exit {
    text-align: center;
    font-weight: bold;
    font-size: 15px;

    margin: 0px 64px;

    border-top: 2px solid rgb(55, 106, 172);
    border-left: 2px solid rgb(55, 106, 172);
    border-bottom: 2px solid rgb(0, 35, 80);
    border-right: 2px solid rgb(0, 35, 80);
    background-color: rgb(0, 54, 126);
}

#about-exit a {
    display: block;
    padding: 8px 0px;
}

#about-exit a:hover {
    background-color: rgb(0, 35, 80);
}