body {
    background-color: rgb(192, 192, 192);
    font-family: "Segoe UI", "MS Sans Serif", Tahoma, Arial, Helvetica, sans-serif;
}

div.intro-text {
    /* Border & Box */
    padding: 5px;
    border-top: 4px solid rgb(85, 85, 85);
    border-left: 4px solid rgb(85, 85, 85);
    border-bottom: 4px solid rgb(0, 0, 0);
    border-right: 4px solid rgb(0, 0, 0);
    background-color: rgb(116, 116, 116);

    /* Text */
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
}

div.footer {
    /* Border & Box */
    padding: 2px;
    border-top: 2px solid rgb(85, 85, 85);
    border-left: 2px solid rgb(85, 85, 85);
    border-bottom: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
    background-color: rgb(50, 50, 50);

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    /* Text */
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
    line-height: 50%;
}


h1 {
    font-size: 384%;
    font-weight: bold;
    text-decoration: underline;
}

h2 {
    font-size: 64px;
    font-weight: bold;
}

h3 {
    font-size: 48px;
    font-weight: bold;
}

h4 {
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 13px;
}