body {
    font-family: "Segoe UI", "MS Sans Serif", Tahoma, Arial, Helvetica, sans-serif;
    margin: 0 72px;
}

h1 {
    text-decoration-line: underline;
}


#intro-text {
    /* Border & Box */
    border-style: outset;
    border-color: rgb(0, 96, 96);
    
    background: rgb(0, 128, 128);
    background: linear-gradient(90deg, rgb(0, 128, 128) 0%, rgb(0, 32, 32) 100%);

    /* Text */
    text-align: left;
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
}

#intro-text h2 {
    color: rgb(135, 206, 250);
    font-size: 36px;
    font-weight: bold;
    text-decoration: underline;

    line-height: 0.5;
    padding: 0px 5px;
}

#intro-text h5 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;

    line-height: 0.5;
    padding: 0px 5px;
}

#intro-text ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

    left: 0;
    right: 0;

    border-top: 2px solid rgb(85, 85, 85);

    background-color: rgb(0, 54, 126);
}

#intro-text ul li {
    float: left;

    border-top: 2px solid rgb(55, 106, 172);
    border-left: 2px solid rgb(55, 106, 172);
    border-bottom: 2px solid rgb(0, 35, 80);
    border-right: 2px solid rgb(0, 35, 80);

    background-color: rgb(0, 54, 126);
}

#intro-text ul li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 4px 24px;
    text-align: center;
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
}

#intro-text ul li a:hover {
    background-color: rgb(0, 35, 80);
}

#intro-text {
    font-size: 12px;
    font-weight: bold;
}